.post-card {
    max-width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

#feed-posts-container {
    gap: 1rem;
    max-width: 1000px;
    margin: auto;
    padding: 4rem;
    border-radius: 1rem;
    background-color: var(--main-bg);
}

#feed-posts-container h2 {
    margin: auto;
    font-size: 3rem;
    
}

