main {
    text-align: center;
    padding: 10rem 5rem;
    margin: 10rem auto;
    background-color: var(--main-bg);
    max-width: 80%;
    border-radius: 0.5rem;

}

main a {
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
}