body {
    /* background-color: var(--main-bg); */
    color: black;
    text-align: center;
    margin: 5rem;
}

#login-form {
    background-color: var(--main-bg);
    padding: 5rem 10rem;
    max-width: 80%;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

button {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
}