body {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(28, 24, 24);
    color: white;
}



nav a, nav button {
    background: #111;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    margin-left: 0.5rem;
}

nav button {
    border: none;
    cursor: pointer;
}

